In [4]:
# nessaary library import 
import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns  
from collections import Counter  

#Sklearn library 
from sklearn.model_selection import train_test_split ,StratifiedKFold,cross_val_score 
from sklearn.preprocessing import StandardScaler,MinMaxScaler,OneHotEncoder ,LabelEncoder 
from sklearn.compose import ColumnTransformer 
from sklearn.pipeline import Pipeline 
from sklearn.impute import SimpleImputer 

# from models 
from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import RandomForestClassifier ,GradientBoostingClassifier ,AdaBoostClassifier 
from sklearn.svm import SVC 
from sklearn.naive_bayes import GaussianNB 


# Metrics & uitilities 
from sklearn.metrics import classification_report,accuracy_score ,precision_recall_curve ,recall_score ,f1_score,roc_auc_score,confusion_matrix
import joblib 
import warnings 
warnings.filterwarnings("ignore")

# Display the setting  
sns.set_theme(style="whitegrid",palette='muted',font_scale=1.05) 
pd.set_option('display.max_columns',200)

In [5]:
# load the data  
df =pd.read_csv('Bank Customer Churn Prediction.csv')

In [6]:
df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df.shape

(10000, 12)